* {

    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box-container {
    width: 80%;
    margin: 0 auto;
}

.sub-text {
    color: #5F5F5F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.text-color-orange {
    color: rgb(255, 84, 0);
}

.text-ash {
    color: rgb(95, 95, 95);
}

.logo {
    display: flex;
    width: 32px;
    height: 32px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #313D4D;
    font-size: 20px;
    font-weight: 700;
}

.nav-home {
    display: flex;
    gap: 36px;
    list-style: none;
    color: rgb(95, 95, 95);
}

.nav-home li {
    font: 400;
    font-size: 18px;
}

.active-nav-item{
    font-weight: 600;
    color: #FB881E;
}

.nav-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 100px 22px 100px;
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(95, 95, 95);
    font: 400;
    font-size: 18px;
}

/*The Furniture that defines you*/
.furniture-defines {
    background-image: url(images/cd19db50a5c40119f24f056bcc06aa7f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 656px;
    display: flex;
    justify-content: center;
}

.comfort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.explore-button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.explorecollection-button {
    border-radius: 360px;
    color: #313D4D;
    padding: 10px 24px;
    border: none;
    font-size: 16;
    font-weight: 400;
    background-color: #FCF9F9;
}

.shop-now {
    border-radius: 360px;
    color: #FCF9F9;
    padding: 10px 24px;
    border: none;
    font-weight: 600;
    font-size: 16;
    background-color: #FD8311;
}

.comfort h2 {
    color: rgb(252, 249, 249);
    font-size: 56px;
    margin-bottom: 16px;
    font-weight: 700;

}

.comfort p {
    color: rgb(252, 249, 249);
    font-size: 22px;
}

.brand {
    padding: 80px 0 40px 0;
}

.brand-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;

}

/*Our Showroom*/
.showroom {
    display: flex;
    padding: 120px 0;
}

.lifestyle {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.lifestyle h3 {
    font-size: 40px;
}

.lifestyle-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.showroom-img {
    width: 50%;

}

.showroom-img img {
    width: 100%;
}

.visit-us {
    margin-bottom: 16px;
    color: #313D4D;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.customer-support {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.post {
    display: flex;
    align-items: center;
    gap: 15px;
}
.post i {
    color: #313D4D;
}
.post h3{
    font-size: 18px;
    font-weight: 600;
    color: #313D4D;
}
.post p{
    font-size: 14px;
    font-weight: 400;
    color: #5F5F5F;
}

.fa-signs-post {
    font-size: 40px;
}

.fa-phone {
    font-size: 40px;
}

.fa-credit-card {
    font-size: 40px;
}

/*footer section*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    background-color: #F5F5F5;
    padding: 100px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-item h3{
 font-size: 18px;
 font-weight: 600;
 color: #313D4D;
}
.footer-item ul{
 display: flex;
 flex-direction: column;
 gap: 12px;
 color: #5F5F5F;
 list-style: none;
}